{% extends 'base.html' %}
{% block title %}Carnicería 88{% endblock %}
{% block content %}
<div class="mt-4">
  <h2>🥩 Carnicería 88</h2>
  <div class="row g-3 mt-3">
    <div class="col-md-6 col-lg-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">💰 Gastos</h5>
          <a href="{{ url_for('carniceria88_gastos') }}" class="btn btn-outline-primary w-100">Ver/Agregar Gastos</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">📈 Ventas diarias</h5>
          <a href="{{ url_for('carniceria88_ventas') }}" class="btn btn-outline-primary w-100">Ver/Agregar Ventas</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">🥩 Menudos</h5>
          <a href="{{ url_for('carniceria88_menudos') }}" class="btn btn-outline-primary w-100">Ver/Agregar Menudos</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">🍗 Pollo</h5>
          <a href="{{ url_for('carniceria88_pollo') }}" class="btn btn-outline-primary w-100">Ver/Agregar Pollo</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 